<% provide(:title, "結果入力") %>

  <div class="container container-resultview">
    <h2>結果入力</h2>
    <div class="resultviewHeader">
      <div class="resultviewIDArea">
        <form>
          <div class="form-row align-items-center">
            <div class="col-2">
              <label for="text9a">ID</label>
            </div>
            <div class="col-6">
              <input type="text" id="text9a" class="form-control">
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-primary">検索</button>
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="col-2">
              <label for="text9a">氏名</label>
            </div>
            <div class="col-6">
              <input type="text" id="text9a" class="form-control">
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="col-2 offset-2">
              <label for="text9a">男性</label>
            </div>
            <div class="col-3">
              <label for="text9a">1989/01/01</label>
            </div>
            <div class="col-3">
              <label for="text9a">30歳</label>
            </div>
          </div>
        </form>
      </div>
      <div class="resultviewCourseSelectArea">
        <label for="text9a">健診日</label>
        <select id="inputState" class="form-control">
          <option selected></option>
          <option>所見なし</option>
          <option>所見あり</option>
        </select>
      </div>
    </div>
    <div class="resultviewResultLeftArea">
      <form>
        <div class="form-row align-items-center">
          <div class="col-1">
            <label>身長</label>
          </div>
          <div class="col-2">
            <input type="text" id="text9a" class="form-control">
          </div>
          <div class="col-3 offset-1">
            <label>聴力　(左)1000Hz</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>所見なし</option>
              <option>所見あり</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-1">
            <label>体重</label>
          </div>
          <div class="col-2">
            <input type="text" id="text9a" class="form-control">
          </div>
          <div class="col-3 offset-1">
            <label>　　　(左)4000Hz</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>所見なし</option>
              <option>所見あり</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-1">
            <label>腹囲</label>
          </div>
          <div class="col-2">
            <input type="text" id="text9a" class="form-control">
          </div>
          <div class="col-3 offset-1">
            <label>　　　(右)1000Hz</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>所見なし</option>
              <option>所見あり</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-1">
            <label>BMI</label>
          </div>
          <div class="col-2">
            <input type="text" id="text9a" class="form-control">
          </div>
          <div class="col-3 offset-1">
            <label>　　　(右)4000Hz</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>所見なし</option>
              <option>所見あり</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-1">
            <label>血圧</label>
          </div>
          <div class="col-1 label_right">
            <label>H</label>
          </div>
          <div class="col-1">
            <input type="text" id="text9a" class="form-control">
          </div>
          <div class="col-1 label_right">
            <label>L</label>
          </div>
          <div class="col-1">
            <input type="text" id="text9a" class="form-control">
          </div>
          <div class="col-1 offset-1 label_right">
            <label>視力</label>
          </div>
          <div class="col-1 label_right">
            <label>(左)</label>
          </div>
          <div class="col-1">
            <input type="text" id="text9a" class="form-control">
          </div>
          <div class="col-1 label_right">
            <label>(右)</label>
          </div>
          <div class="col-1">
            <input type="text" id="text9a" class="form-control">
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-2">
            <label>既往歴</label>
          </div>
          <div class="col-6">
            <input type="text" id="text9a" class="form-control">
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-2">
            <label>自覚・他覚症状</label>
          </div>
          <div class="col-6">
            <input type="text" id="text9a" class="form-control">
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-2">
            <label>喀痰検査</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>異常なし</option>
              <option>異常あり</option>
            </select>
          </div>
          <div class="col-2 offset-1">
            <label>ﾂﾍﾞﾙｸﾘﾝ反応</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>異常なし</option>
              <option>異常あり</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-2">
            <label>胸部ﾚﾝﾄｹﾞﾝ</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>異常なし</option>
              <option>異常あり</option>
            </select>
          </div>
          <div class="col-2 offset-1">
            <label>心電図</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>異常なし</option>
              <option>異常あり</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-2">
            <label>医師の判断</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>異常なし</option>
              <option>異常あり</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-2">
            <label>　</label>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-2">
            <label>健診担当医</label>
          </div>
          <div class="col-3">
            <select id="inputState" class="form-control">
              <option selected></option>
              <option>テスト　医師１</option>
              <option>テスト　医師２</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-2">
            <label>医師コメント</label>
          </div>
          <div class="col-7">
            <textarea rows="3" cols="60"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="resultviewResultRightArea">
      <table id="testResultTable" class="testResultTable">
        <thead>
          <tr>
            <td class="column1">検査項目</td>
            <td class="column2">値</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="column1">白血球数</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">赤血球数</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">血色素量</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">ヘマトクリット値</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">血小板数</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">MCV</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">MCH</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">MCHC</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">梅毒定性RPR[LA]</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">梅毒定性TP抗体[LA]</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">HCV抗体判定</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">HCV抗体C.O.I.</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">HBs抗原/CLEIA</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">HBs抗体/CLEIA</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">AST(GOT)</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">ALT(GPT)</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">γ-GT(γ-GTP)</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">HDL-ｺﾚｽﾃﾛｰﾙ</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">LDL-ｺﾚｽﾃﾛｰﾙ</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">中性脂肪(TG)</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">グルコース(血糖)</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">HbA1c(NGSP)</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">蛋白定性</td>
            <td class="column2"></td>
          </tr>
          <tr>
            <td class="column1">糖定性</td>
            <td class="column2"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="resultviewButtonListArea">
      <div class="container container-resultview">
        <div class="row">
          <div class="col-2">
            <button type="button" class="btn btn-primary">　　取　消　　</button>
          </div>
          <div class="col-2 offset-5">
            <button type="button" class="btn btn-primary">　　印　刷　　</button>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary">　　更　新　　</button>
          </div>
        </div>
      </div>
    </div>
  </div>